<div class="card">
    <label>{{title}}</label>
    <hr>
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header[1] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let single of data" (click)="handleModalClick(single)">
          <ng-container *ngFor="let header of filteredHeaders">
            <td>{{ single[header] }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
</div>

<app-modal [title]="modalDataTitle" [data]="modalData" *ngIf="modal.showModal" (click)="closeModalFromModal()"/>
