<div class="card">
    <label>{{ title }}</label>
    <hr>

    <!-- i need to add a mode selector for templates -->
    <ng-container [ngTemplateOutlet]="tableMode"></ng-container>
  </div>
  
  <ng-template #tableMode>
    <table>
      <thead>
        <tr *ngFor="let data of allData">
          <th *ngFor="let header of data.headers | keyvalue">{{ header.value }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allData">
          <span *ngFor="let content of data.content" (click)="handleClickModal(data.title, data)">
          </span>
        </tr>
      </tbody>
    </table>
  
    <app-modal #modal mode="List" [title]="modalTitle" [content]="modalContent" *ngIf="useModal" />
  
  </ng-template>
  

  <ng-template #listMode>
    <ul *ngFor="let data of allData">
      <li *ngFor="let content of data.content">{{content}}</li>
    </ul>
  </ng-template>
  