.screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    background-color: #313131ff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    background-color: #FEFEFEff;

    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 18%;
}

hr {
    margin-inline: 0%;
    border: 0.5px solid #6D6D6Dff;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    background-color: #525252ff;

    border-radius: 10px;
    height: 30px;
    width: 100%;

    text-decoration: none;
    color: #FEFEFEff;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #9E9E9Eff;
    color: black;
}

.app-title {
    color: #9E9E9Eff;
    font-size: 80px;
    margin-bottom: 20px;
}

.title {
    font-size: x-large;
}

input {
    border: 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);;
    padding: 10px

}