* {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: max-content;
    background-color: #E7E7E7;
    color: black;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar li:hover {
    background-color: grey;
    color: white;
  }
  