    :host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    background-color: #2C2C2C;

    color: #E7E7E7;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: max-content;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #E7E7E7;
    color: #2C2C2C;
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin: 10px;
  }
  
  .navbar li {
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 10px;
    border-radius: 5px;

    background-color: '';
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar li:hover {
    background-color: grey;
    color: white;
  }
  