<div class="main">
    <div class="navbar">
        <div class="options">
            <a>Residents</a>
            <a>Visitors</a>
            <a>Parcels</a>
            <a>Aparts</a>
            <a>Staff</a>
        </div>
    </div>

    <div class="cards">
        <div class="parcels">
            <label>Arived Parcels</label>
            <hr>
            <table>
                <!-- todo: table of parcels-->
            </table>
        </div>
        <div class="entrance">
            <label>Who entered?</label>
            <hr>
            <table>
                <!-- todo: table of who entered the place, visitants, residents and staff-->
            </table>
        </div>
        <div class="exit">
            <label>Who entered?</label>
            <hr>
            <table>
                <!-- todo: table of who entered the place, visitants, residents and staff-->
            </table>
        </div>
    </div>
</div>